html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.image {
    display: block;
    width: 300px;
    border: 5px dotted black;
}

.header.container {
    background-color: #1F2937;
    padding: 30px 250px 80px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
}   

button, a, .header.container {
    color: white;
}

button {
    background-color: #3882F6; 
}

.header.nav {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

