html {
    box-sizing: border-box;
    font-family: Roboto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex; 
    flex-direction: column;
}

.headerimage {
    width: 600px;
    height: 300px;
    flex: none;
}

.headercontainer {
    background-color: #1F2937;
    padding: 30px 250px 80px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
}   

button, a, .headercontainer {
    color: white;
}

button {
    background-color: #3882F6; 
    border-radius: 10px;
    font-weight: 900;
    border: none;
}

.nav {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.headercontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 500px;
}

.contentcontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

.headerbutton {
    align-self: flex-start;
    margin-top: 10px;
    padding: 10px 40px;
}

.headertitle {
    font-size: 60px;
}

p {
    margin: 0;
    padding: 0;
}

a, .headersubtext{
    color: rgba(255, 255, 255, 0.618);
}

.cardcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.cardinner {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.cardtitle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.cardimage {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid rgb(66, 60, 243);
}

.card {
    flex: none;
    flex-basis: 200px;    
}

.subtext {
    text-align: center;
    color: rgb(83, 83, 83);
    width: 190px;
}

.quotecontainer {
    background-color: #E5E7EB;
}

.quoteinner {
    padding: 200px 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #1F2937;

}

.quotetext {
    font-size: 36px;
    width: 800px;
}

.author {
    align-self: flex-end;
    font-weight: 900;
}

.signupcontainer {
    display: flex;
    padding: 120px 300px;
    justify-content: center;
    align-items: center;
}

.signupbox {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 50px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupbutton {
    border: 2px solid white;
    padding: 10px 40px;
    margin-right: 120px;
    border-radius: 10px;
    flex: none;
}

.signupinner {
    margin-right: 150px;
    margin-left: 120px;
    flex: none;
}

.footercontainer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

