.image {
    display: block;
    width: 300px;
    border: 5px dotted black;
}

.header.container {
    background-color: #1F2937;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}   

button, a, .header.container {
    color: white;
}

button {
    background-color: #3882F6; 
}
